<html>

<head>
    <title>Liveエッヂ板</title>
    <meta charset="utf-8">
</head>

<body>
    エッヂ板です。
    現在は専ブラからしか読み込めません。

    <a href="/auth-code">認証URL</a>

    <h2>利用規約</h2>
    <ul>
        <li>全ての書き込みにおいて投稿者は、その投稿により生じる全ての責任を負います。</li>
        <li>投稿された書き込みに関しては、投稿者に著作権が帰属するものとします。
            このため、他者による投稿者からの許諾のない無断での転載は禁止します。
            その他、著作権法に従うものとします。
        </li>
    </ul>

    <a href="https://git.3chan.cc/edginer/eddiner/issues">運営・開発への要望・相談・報告はこちらへ</a>
    <p>本板はあくまで試験的運用であることに留意してください</p>
</body>

</html>